.profile {
  max-width: 100%;
  margin-top: 36.25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.profile__avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0;
}

.profile__info {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50%;
  column-gap: 16px;
  margin-left: 26.5px;
}
.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__occupation {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  align-self: center;
  background-color: #000000;
  margin-right: 0;
  border: 1px solid white;
}
.profile__edit-button:hover {
  opacity: 0.8;
}

.profile__add-button {
  margin-left: 165px;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  background-color: #000000;
  align-self: center;
  margin-left: 172px;
}

@media screen and (max-width: 550px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    justify-content: center;
    margin: 40px auto 0 auto;
    gap: 30px;
    flex-wrap: nowrap;
  }
  .profile__avatar {
    max-width: 168.75px;
    height: 127.5px;
    align-self: center;
  }
  .profile__info {
    gap: 14px;
    max-width: 216px;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
  }

  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .edit-image {
    width: 7.5px;
    height: 7.5px;
  }
  /* .edit-image::after {
    content: url('./images/');
  }  */
  .profile__add-button {
    width: 282px;
    margin: 0;
  }
}
