.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 282px;
  height: 361px;
  position: relative;
  z-index: 0;
}

.card__likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.card__image {
  width: 282px;
  height: 282px;
  margin: 0;
  cursor: pointer;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin: 24px 15px 25px 21px;
  padding: 0;
}

.card__name {
  max-width: calc(246px - 21px);
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.card__bin-btn {
  width: 18px;
  height: 19.3px;
  background-image: url("../images/deleteBinimage(1).svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 1;
}

.card__bin-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__like-btn {
  width: 21px;
  height: 19px;
  margin: 0;
  align-self: center;
  background-image: url("../images/heartVector(1).svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: inherit;
  background-color: transparent;
}
.card__like-btn_type_selected {
  background-image: url("../images/Unionheart.svg");
}
.card__like-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .card {
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .card {
    margin: 0 19px;
  }
  .card__footer {
    margin-top: 25px;
    margin-bottom: 31px;
  }
}
