.profile {
  max-width: 100%;
  margin-top: 36.25px;
  display: flex;
  flex-direction: row;
  color: white;
}

.profile__avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0;
  position: relative;
  /* align-items: center; */
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
  background-color: black;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.profile__avatar-container:hover::before {
  background-image: url(../images/Vector-pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
}

.profile__info {
  display: flex;
  max-width: 450px;
  align-items: center;
  margin-left: 26.5px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.profile__name-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-top: calc(62px - 36.25px);
}

.profile__name {
  min-width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  flex-grow: 1;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__about-me {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  align-self: center;
  background-color: transparent;
  margin-right: 0;
  border: 1px solid white;
  background-image: url("../images/Vector-pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -6px;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  margin-left: auto;
  width: 150px;
  height: 50px;
  padding: 14px 64px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  background-color: transparent;
  align-self: center;
  background-image: url("../images/Vector+add.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .profile {
    justify-content: space-between;
  }
  .profile__add-button {
    margin: 0;
  }
  .profile__info {
    margin: 0;
  }
}

@media screen and (max-width: 730px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    justify-content: center;
    margin: 40px auto 0 auto;
    gap: 30px;
    flex-wrap: wrap;
  }
  .profile__avatar {
    max-width: 168.75px;
    height: 127.5px;
    align-self: center;
  }
  .profile__info {
    gap: 14px;
    max-width: 230px;
    flex-grow: 1;
    justify-content: center;
    margin: 0 auto;
  }
  .profile__name-container {
    gap: 10px;
  }
  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
    min-width: 0;
  }

  .profile__about-me {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 282px;
  }
}
